.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1;
  height: 800px;
  position: relative;
  background-color: #fff;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__title {
  font-family: Inter, arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  display: block;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin: 183px 0 0;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: auto;
}

.header__paragraph {
  font-family: Inter, arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
  list-style-type: none;
}
