.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  height: 800px;
  position: relative;
  background-color: #fff;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__accent {
  display: block;
  font-family: Noto Serif, serif, Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__title {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  display: block;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin: 128px 0 0;
}

.header__description {
  font-family: Noto Serif, serif, Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: auto;
  padding-bottom: 40px;
}

.header__paragraph {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
  margin-right: 80px;
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  gap: 20px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #0a2750;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  display: flex;
  letter-spacing: -0.6px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
}

.recipes__subtitle {
  font-family: Noto Serif, serif, Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 215px;
  gap: 40px;
  list-style-type: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  list-style-type: none;
}

.recipes__iframe-caption {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
  letter-spacing: -0.6px;
}

.reservation {
  padding: 100px 0 120px;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  padding: 20px 0;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #1878dc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 32px;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.3s ease;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  background-color: #1878dc;
  background-image: url(../images/se_project_2_files/se_project_2_files/check.svg);
  background-size: cover;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  cursor: pointer;
}

.menu {
  display: none;
}

.about {
  display: none;
}
