.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accent {
  font-family: Noto Serif, serif, Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__title {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  display: block;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin-left: 80px;
  margin-top: 213px;
}

.header__description {
  font-family: Noto Serif, serif, Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: auto;

  padding-bottom: 40px;
}

.header__footer_list-item {
  list-style-type: none;
  column-gap: 0;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-left: 40px;
}

.header__address {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-top: auto;
  margin-right: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  margin: 30px 80px 0 0;
  column-gap: 20px;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  background-color: #0a2750;
  background-image: url(../images/se_project_2_files/se_project_2_files/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__title {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  display: block;
  letter-spacing: -0.6px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
}

.recipes__subtitle {
  font-family: Noto Serif, serif, Times New Roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: block;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 215px;
  margin-left: 150px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  gap: 40px;
}

.recipes__iframe-caption {
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  margin-top: 24px;
  letter-spacing: -0.6px;
}

.caption-duration {
  margin-left: 80px;
}
